<section class="section">
  <div class="container">
    <!-- <span class="material-icons"> thumb_up_off_alt </span> -->

    <form class="search-form" id="search-form">
      <input
        class="input"
        type="text"
        name="query"
        autocomplete="off"
        placeholder="Search images..."
      />
      <span class="material-icons search-icon"> search </span>
    </form>

    <ul class="gallery">
      <!-- Список <li> с карточками изображений -->
    </ul>

    <button class="load-more-btn is-hidden" id="load-more" type="button" aria-label="Load more">
      <span class="material-icons load-more-icon">more_horiz </span>
    </button>
    <button class="close-btn" type="button">
      <span class="material-icons close-icon"> close </span>
    </button>
    <div class="big-img-box"></div>
  </div>
</section>
